---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
  
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}  
    <div class="row mb-2">
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	{%- for post in posts -%}
	    <div class="col-md-6">
	      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
	        <div class="col p-4 d-flex flex-column position-static">
			{% for tag in site.categories %}
		      <a href="{{ post.url }}">
		          <strong class="d-inline-block mb-2 text-primary">{{ tag[0] }}</strong>
		      </a>
			{% endfor %}
	        
	          <h3 class="mb-0">{{ post.title | escape }}</h3>
	          <div class="mb-1 text-muted">{{ post.date | date: date_format }}</div>
		        {%- if site.show_excerpts -%}
		          <p class="card-text mb-auto">{{ post.excerpt }}</p>
		        {%- endif -%}
	          <a href="{{ post.url | relative_url }}" class="stretched-link">Continue reading</a>
			  <div class="mb-2">
	            <img src="/media/{{ post.sphere }}/sphereT.jpg" class="img-fluid" alt="Responsive image">
	          </div>
	        </div>
	      </div>
	    </div>
    {%- endfor -%}
  </div>
  
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
